.search-form{
   
    display: flex;
    align-items: center;

}
.search-form label{
    
    padding-right: 8px;
}
.search{
    border-radius: 8px;
    padding: 2px;
    border: 2px solid;
}
.btn-reset{
    border: 1px solid #689F38;
 border-radius: 6px;
 padding: 6px 15px;


}
.btn-reset i{
    
 
 color: #689F38;


}

.table-custom{
    margin-top: 50px;
    height: 700px;
    overflow-y: auto;
} 